{% comment %}{% render 'registrationFormCss' %}{% endcomment %}
<style>
    .ac-close__btn {
        position: absolute;
        top: 0;
        right: 0;
        padding: 16px;
        z-index: 10000;
        border: none;
        background-color: transparent;
        color: #f0f0f0;
        font-size: 40px;
        line-height: 1;
        cursor: pointer;
        transition: color .3s ease;
    }

     .ac-nav-left__item.ac-nav-left__item {
         display: none;
     }
    #menu-mobile .mm-navbar-content-4 .mm-brendbox {
        flex: 0 0 14%;
        padding: 0;
        align-self: center;
        float: unset;
        justify-content: center;
        top: 10px;
    }
    .ac-nav--main,
    .ac-nav--right {
        margin-top: 10px;
    }
    .ac-nav--main.ac-nav--main ul li {
        font-weight: 600;
    }
    /* top_utils */

    .ac-icon__circle {
        opacity: 0;
    }
    .ac-nav-right__list {
        display: flex;
        align-items: center;
    }
    .ac-nav__item--brandpoints.is .ac-icon__circle{
        opacity: 1;
    }
    .ac-nav-right__item--search {}
    .ac-nav-account__btn {
        background-color: transparent;
        position: relative;
        padding: 14px 20px 14px 8px;
        white-space: nowrap;
        line-height: 18px;
        font-weight: 500;
        display: inline-flex;
    }
    .ac-nav-account__btn:after {
        content: "";
        width: 12px;
        height: 8px;
        background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iNyIgdmlld0JveD0iMCAwIDEwIDciIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik01LjMwMjM3IDYuMTUwODVDNS4xNDI4NiA2LjMzNTA0IDQuODU3MTQgNi4zMzUwNCA0LjY5NzYzIDYuMTUwODVMMC4zNzcwMzYgMS4xNjE4NkMwLjE1MjY4NiAwLjkwMjgwNCAwLjMzNjcwNyAwLjUgMC42Nzk0MDggMC41TDkuMzIwNTkgMC41MDAwMDFDOS42NjMyOSAwLjUwMDAwMSA5Ljg0NzMxIDAuOTAyODA1IDkuNjIyOTYgMS4xNjE4Nkw1LjMwMjM3IDYuMTUwODVaIiBmaWxsPSJibGFjayIvPgo8L3N2Zz4K");
        background-repeat: no-repeat;
        position: absolute;
        transform: translateY(-50%);
        top: 48%;
        right: 2px;
    }
    .opened .ac-nav-account__list,
    .open .ac-nav-account__list {
        list-style: none;
        display: flex;
        flex-direction: column;
        border-radius: 3px;
        text-align: left;
        width: 164px;
        padding: 12px;
        position: absolute;
        top: 35px;
        right: 0;
        margin-top: 0!important;
        /*max-height: 200px;*/
        overflow-y: auto;
        background: #FEFAF0;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    }

    .ac-nav-account__list {
        display: none;
    }

    #header .ac-nav-account__item.ac-nav-account__item {
        padding: 16px 4px;
        margin-left: 0;
        cursor: pointer;
        float: none;
        line-height: 1;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
    }
    #header .ac-nav-right__item.ac-nav-right__item a {
        display: inline-flex;
        top: 0;
        left: 0;
        bottom: 0;
    }
    #header .ac-nav-right__item.ac-nav-right__item {
        float: none;
        margin-left: 0;
        padding: 8px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        width: 44px;
        height: 44px;
    }
    #header .ac-nav-right__item.ac-nav-right__item--account {
        position: relative;
        padding: 0;
        display: inline-block;
        width: auto;
    }
    .ac-brandpoints {
        display: none;
    }
    .opened .ac-brandpoints,
    .open .ac-brandpoints {
        display: block;
        text-align: left;
        width: 179px;
        padding: 24px 16px;
        position: absolute;
        border-radius: 3px;
        top: 35px;
        right: 0;
        overflow-y: auto;
        background: #FEFAF0;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    }
    .ac-brandpoints__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        text-decoration-line: underline;
        color: #000000;
    }
    .ac-nav-account__link {
        top: 0!important;
        font-weight: inherit;
    }
    .ac-nav-account__item--points {
        padding-top: 13px;
        padding-bottom: 7px;
        cursor: default;
        font-weight: 600!important;
    }

    .ac-nav-account__divider {
        border-color: #FF6B26;
        margin-top: 8px;
        margin-bottom: 8px;
        height: 1px;
        width: 100%;
    }

    .ac-nav-account__item:not.ac-nav-account__item--points:hover {
        background-color: #f2f2f2;
    }
    .ac-nav-account__item--points {
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
    }
    .ac-nav-account__icon { display: none; }
    .ac-nav-account__text {
        opacity: 1!important;
        display: block!important;
        position: static!important;
        top: initial!important;
        font-weight: 600;
    }
    .side-cart .wrapper .item .grid__item.quantity {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
    }
    .side-cart .wrapper .item .grid__item  .wrap {
        position:relative;
        margin-right: auto;
    }
    .side-cart .wrapper .item .grid__item  .price {
        line-height: 1.2;
    }
    .side-cart .wrapper .saso-cart-original-total {
        text-transform: lowercase;
    }

    @media screen and (max-width: 1023.98px) {
        #header .ac-nav-right__item.ac-nav__item--brandpoints {
            display: none;
        }
        .ac-nav-account__icon { display: inline-flex; padding-left: 8px;}
        .ac-nav-account__text { display: none!important; }
        .ac-nav-left__item.ac-nav__item--brandpoints {
            display: inline-flex;
            position: relative;
            padding: 5px;
            top: 13px;
            margin-left: 18px;

        }
        .ac-nav-left__item  .ac-brandpoints {
            left: 0;
            right: auto;
            z-index: 2;
        }
        .ac-navigation__left .ac-nav-left__menu-btn {
            display: inline-flex;
            padding: 6px;
            margin-left: -6px;
        }
        #header .logo {
            margin-top: 8px;
        }
        #header .logo img {
            max-width: 80px;
            max-height: 100%;
            height: auto;
            margin: auto;
        }
    }

    @media  (max-width: 767.98px) {
        .header-wrapper .medium-down--three-fifths {
            width: 40%!important;
        }
        .header-wrapper .ac-navigation__left,
        .header-wrapper .medium-down--one-fifth {
            width: 30%!important;
        }
       .ac-nav-right__item--cart {
            margin-right: 4px;
        }
    }
</style>

<header id="header" class="header animation {% if settings.header_behavior == "drop-over" and template == "index" %}over-carousel{% endif %}">
  {% include 'utility_bar' %}
  <div class="container-fluid">
    {% if settings.show_social_header %}
      <div class="top-header clearfix medium--hide small--hide">
        <div class="social-top">
          {% include 'social_links' %}
        </div>
      </div>
    {% endif %}
    <div class="header-wrapper">
      <div class="clearfix">
      	<div class="menu-mobile left hide medium-down--show one-fifth ac-navigation__left">
          {% include 'menu_mobile' %}
        </div>
        <div class="logo left one-fifth medium-down--three-fifths">
          <a href="/"><img src="{{ "logo.png" | asset_url }}" alt="{{shop.name}}" /></a>
        </div>
        <nav class="main-menu left three-fifths medium-down--hide ac-nav--main clearfix">
          {% include 'menu_main' %}
        </nav>
        <div class="left one-fifth medium-down--one-fifth ac-nav--right">
          {% include 'top_utils' %}
        </div>
      </div>
      <div class="hide medium-down--show search clearfix">
        <form action="/search" method="get" class="search-form">
          <a href="#" onclick="$(this).parent().submit(); return false;">
<!--               <svg class="img" class="img" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 85.3 85.3"><defs><style>.cls-1{fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:4px;}</style></defs><title>search</title><circle class="cls-1" cx="25.72" cy="164.86" r="32.36" transform="translate(-100.39 -64.03) rotate(-45)"/><line class="cls-1" x1="57.25" y1="57.25" x2="83.3" y2="83.3"/></svg> -->

              <svg class="search-icon" width="19px" height="20px" viewBox="0 0 19 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <!-- Generator: Sketch 48.2 (47327) - http://www.bohemiancoding.com/sketch -->
                  <desc>Created with Sketch.</desc>
                  <defs></defs>
                  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g id="Mobile-Nav" transform="translate(-340.000000, -83.000000)" stroke="#000000">
                          <g id="Icon-/-Profile" transform="translate(337.000000, 80.000000)">
                              <g id="Group" transform="translate(4.000000, 4.000000)">
                                  <circle id="Oval" stroke-width="1.5" cx="7" cy="7" r="7"></circle>
                                  <path d="M16.4,17.4 L11.48,12.48" id="Line" stroke-width="1.5" stroke-linecap="square"></path>
                              </g>
                          </g>
                      </g>
                  </g>
              </svg>
          </a>
          <input type="text" name="q" placeholder="" />
          <input type="hidden" name="type" value="product" />
        </form>
      </div>
    </div>
  </div>
</header>

{% if settings.header_behavior == "drop" or settings.header_behavior == "drop-over" %}
	{% include '_header_drop' %}
{% endif %}

<div id="customer-logout" class="ac-popup" style="display: none;" class="" >
    <button type="button" class="ac-close__btn" data-close-popup-btn>x</button>
    <div class="ac-block--horizontal" data-login-message>
        <h2>logout</h2>
        <p class="ac-field__note ac-offset__bottom--md">are you sure you want to logout?</p>
    </div>
    <div style="text-align: center;" class="">
        <a class="ac-form__btn ac-form__btn--black animation" type="button" href="/account/logout">YES, LOGOUT</a>
        <button class="ac-form__btn" type="button" id="cancelLogoutBtn" data-close-popup-btn>NO</button>
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const logoutPopup = new tingle.modal({
            footer: false,
            stickyFooter: false,
            closeMethods: ['escape'],
            cssClass: ['ac-popup', 'ac-popup__logout', 'ac-popup--sm'],
            onOpen: function() {
                console.log('modal open');
            },
            onClose: function() {
                console.log('modal closed');
                return true;
            },
        });

        function toggleClass(elementSelector, className) {
            const element = document.querySelector(elementSelector);
            if (element) {
                element.classList.toggle(className);
                console.log('className', className)
            }
        }

        const accountButton = document.querySelector('[data-account-btn]');
        if (accountButton) {
            accountButton.addEventListener("click", function () {
                toggleClass('.ac-nav-right__item--account', 'opened');
            });
        }

        function formResize(size) {
            const popups = document.querySelectorAll('.ac-popup');
            popups.forEach(popup => {
                if (size === "lg") {
                    popup.classList.add('ac-popup--lg');
                    popup.classList.remove('ac-popup--sm');
                } else if (size === "sm") {
                    popup.classList.add('ac-popup--sm');
                    popup.classList.remove('ac-popup--lg');
                } else {
                    popup.classList.add('ac-popup--md');
                    popup.classList.remove('ac-popup--lg');
                    popup.classList.remove('ac-popup--sm');
                }
            });
        }
        //
        // // set content
        const content = $('#customer-logout').html();
        logoutPopup.setContent( content );


        // open modal
        const logoutBtns = document.querySelectorAll('[data-logout-btn]');
        logoutBtns.forEach(logoutBtn => {
            logoutBtn.addEventListener("click", (event) => {
                formResize('sm');
                console.log("logoutBtn", logoutBtn);
                event.preventDefault();
                // formResize('lg');
                logoutPopup.open();
            });
        });

        const closePopups = document.querySelectorAll('[data-close-popup-btn]');
        closePopups.forEach(element => {
            element.addEventListener("click", (event) => {
            console.log(event)
            event.preventDefault();
            const elementsToRemove = document.querySelectorAll('.tingle-modal.tingle-modal--visible');
            elementsToRemove.forEach(element => {
                element.classList.remove('tingle-modal--visible');
                document.documentElement.classList.remove("tingle-enabled")
                })
            });
        });
    });
</script>
