<!-- Start of signup -->
<script language="javascript">
<!--
function validate_signup(frm) {
	var emailAddress = frm.Email.value;
	var errorString = '';
	
        

        if (emailAddress == '' || emailAddress.indexOf('@') == -1) {
		errorString = 'Please enter your email address';
	}

    
var els = frm.getElementsByTagName('input');
for (var i = 0; i < els.length; i++)
{
    if (els[i].className == 'text' || els[i].className == 'date' || els[i].className == 'number')
    {
        if (els[i].value == '')
            errorString = 'Please complete all required fields.';
    }
    else if (els[i].className == 'radio')
    {
        var toCheck = document.getElementsByName(els[i].name);
        var radioChecked = false;
        for (var j = 0; j < toCheck.length; j++)
        {
            if (toCheck[j].name == els[i].name && toCheck[j].checked)
                radioChecked = true;
        }
        if (!radioChecked)
            errorString = 'Please complete all required fields.';
    }
}



	var isError = false;
    if (errorString.length > 0)
        isError = true;

    if (isError)
        alert(errorString);
	return !isError;
}


//-->
</script>

<form name="signup" id="signup" action="https://email-loveamika.com/signup.ashx" method="post" onsubmit="return validate_signup(this)">
<input type="hidden" name="addressbookid" value="5284766">
<input type="hidden" name="ci_isconsentform" value="true">
<input type="hidden" name="userid" value="228576">
<input type="hidden" name="SIG66bcf01433b9d146e74c099709e529a028005319823c30a4018868ea3e1a2e35" value="">
<!-- ReturnURL - when the user hits submit, they'll get sent here -->
<input type="hidden" name="ReturnURL" value="https://loveamika.com">
<!-- Email - the user's email address -->
<table>
<tr>
<td>
Email</td><td><input type="text" name="Email"></td></tr>

</table>
<input type="hidden" name="ci_userConsentText" value="">

<input type="hidden" id="ci_consenturl" name="ci_consenturl" value="">

<p><input type="Submit" name="Submit" value="Subscribe"></p>


</form>

<script language="javascript">
	var urlInput = document.getElementById("ci_consenturl");
	
	if (urlInput != null && urlInput != 'undefined') {
		urlInput.value = encodeURI(window.location.href);
    }
</script>

<!-- End of signup -->