 <script type="text/javascript">
  $(document).ready(function() {
    
    email = "";
    var customerEmail = null;
    var checkoutEmail = "{{checkout.email}}";
    var email = null;
    {% if customer %}
    customerEmail = "{{customer.email}}";
    {% endif %}
    if(checkoutEmail && checkoutEmail.length > 0 && checkoutEmail.indexOf("@") >= 0){
    email = checkoutEmail;
    }
    if(email === null && customerEmail !== null){
    email = customerEmail;
    }
    $(".swell-referral").data("customer-email", email);
  });
</script>


{% if checkout.order.created_at %}
<div class="amika-rewards">
  <div class="amika-post-checkout">
    <div class="checkout-heading">
      <span class="swell-referral-back-link checkout"></span>
      <h2>Thank you for your purchase</h2>
    </div>
    <div class="referral-holder">
      <div class="swell-referral">
      </div>
    </div>
  </div>
</div>
{% endif %}
