<div id="customer-accounts"  class="register-login account clearfix">

  <div class="container clearfix">

    <!-- Customer Account Login -->

    <div id="customer-login" class="register-login">

      <h1>Reset Password</h1>

      <p class="note head">Enter a new password for {{ email }}</p>

      {% form 'reset_customer_password' %}
      {{ form.errors | default_errors }}

      <div id="password" class="clearfix form-row">
        <input type="password" placeholder="Password" value="" name="customer[password]" id="customer_password" class="large password" size="16" />
      </div>
      <div id="password_confirm" class="clearfix form-row">
        <input type="password" placeholder="Confirm Password" value="" name="customer[password_confirmation]" id="customer_password_confirmation" class="large password" size="16" />
      </div>
      <div class="action-bottom">
        <input class="btn animation" type="submit" value="Reset Password" />
      </div>
      {% endform %}
    </div>

  </div>
</div>