  
  <div class="img-contact-container">
<picture>
 			 <source srcset="https://cdn.shopify.com/s/files/1/2117/1151/files/AM2020_200505_LandingPage_Banners_Desktop_1750x820_66474b50-c1f1-4f9b-9ce4-43a1f3dcd416.jpg?v=1589467284" media="(min-width: 740px)">
 			 <source srcset="https://cdn.shopify.com/s/files/1/2117/1151/files/AM2020_200505_LandingPage_Banners_Mobile_600x684_b9569ab4-1ccf-47ab-b7ef-6e22e1dcfad5.jpg?v=1589467187" media="(max-width: 736px)">
 			 <img srcset="https://cdn.shopify.com/s/files/1/2117/1151/files/AM2020_200505_LandingPage_Banners_Mobile_600x684_b9569ab4-1ccf-47ab-b7ef-6e22e1dcfad5.jpg?v=1589467187" alt="…">
        </picture>
 </div>
  <div id="contact-form-page" class="page container">
    <div class="contact-top">
    <div class="large--table medium--table">
      <div class="large--table-cell medium--table-cell">
      </div>
      <div class="large--table-cell medium--table-cell">
        <div class="contact-text">
          <h1>giving back</h1>
          <p>{{ page.content }}</p>
        </div>
      </div>
    </div>
  </div>
        
 

  <div class="contact-content text-left">
    <div class="grid">
      <div class="grid__item one-quarter medium--one-half small--one-whole">
         <h2>HairToStay</h2>
        <p>
         HairToStay is a nonprofit organization committed to raising awareness and financial aid for scalp cooling technology, a treatment which can prevent hair loss during chemotherapy.<br>
          <a href="https://loveamika.com/pages/charity">learn more</a>
        </p>
      </div>
        <div class="grid__item one-quarter medium--one-half small--one-whole">
        <h2>Terracycle</h2>
        <p>
          Haircare shouldn’t cost the earth<br>
          <p>Through our recycling partnership with TerraCycle® and by converting our plastic packaging to post-consumer recycled plastic by 2021, we aim to reduce new plastic production and reduce plastic waste.<br/>
          <a href="https://loveamika.com/blogs/the-strand/earth-day-how-to-be-sustainable-during-social-distancing">learn more</a>
        </p>
      </div>
      <div class="grid__item one-quarter medium--one-half small--one-whole">
        <h2>Salon Affiliate</h2>
        <p>
          We doubled our commissions to 40% in our salon affiliate program for those who can’t work at this time.<br>
          <a href="https://loveamika.com/affiliates">apply now</a><br/><br/>
          <a href="https://loveamika.com/blogs/the-strand/how-to-support-your-stylist-during-social-distancing">how to support your stylist</a>
        </p>
      </div>
      <div class="grid__item one-quarter medium--one-half small--one-whole">
        <h2>COVID-19</h2>
       <p>
Physicians and nurses must wash their hair daily to prevent transmission of the virus. We’re donating shampoo, conditioner and hair masks to hospitals in the US + Europe. Our hope is that these products help nourish their hair and provides them with a little pampering at the end of the day.<br/>
        <br/> Although we’re making as many product donations as possible, we are unable to gift all of the countless front-line workers fighting against COVID-19. Therefore, we 
created a special discount for healthcare heroes.<br/>
         <a href="https://loveamika.com/heroes">learn more</a>
        </p>
      </div>
    </div>
  </div>
  
<style>
  
   @media (min-device-width: 300px) 
  and (max-device-width: 760px) {
.contact-top .contact-text p {
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 20%;
    text-align: center;
    width: 85%;
    bottom: 480%;
}
  
    
    img {
    background-image: url('https://cdn.shopify.com/s/files/1/2117/1151/files/AM2020_200505_LandingPage_Banners_Desktop_1750x820_66474b50-c1f1-4f9b-9ce4-43a1f3dcd416.jpg?v=1589467284');
       -webkit-user-select: none;
    max-width: 100%;
    margin: auto;
  }
}
  
  
    
  @media (min-device-width: 300px) 
  and (max-device-width: 760px) {
.contact-top .contact-text h1 {
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 14.5%;
    text-align: center;
    width: 35%;
}
}
  
  @media (min-device-width: 768px) 
  and (max-device-width: 1024px)  {
    
.contact-top .contact-text p {
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 20%;
    text-align: center;
    width: 55%;
  bottom: 480%;
}
    
      .contact-top .contact-text h1 {
    font-size: 29px;
    letter-spacing: 0.06em;
    border-bottom: 3px solid #000000;
    padding-bottom: 8px;
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 17%;
    text-align: center;
    width: 30%;
    bottom: 480%;
      }
    /*
    .img{
      background-image: url('https://cdn.shopify.com/s/files/1/2117/1151/files/AM2020_200505_LandingPage_Banners_Mobile_600x684_b9569ab4-1ccf-47ab-b7ef-6e22e1dcfad5.jpg?v=1589467187');
    -webkit-user-select: none;
    max-width: 100%;
    margin: auto;
     }*/
}
  

    @media (min-device-width: 1024px)  {
    
.contact-top .contact-text p {
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 20%;
    text-align: center;
    width: 25%;
  bottom: 480%;
}
    
      .contact-top .contact-text h1 {
    font-size: 29px;
    letter-spacing: 0.06em;
    border-bottom: 3px solid #000000;
    padding-bottom: 8px;
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 17%;
    text-align: center;
    width: 25%;
      }
    
  

    }
  
  
  /*
  @media (min-width: 740px) {
    
.contact-top .contact-text p {
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 20%;
    text-align: center;
    width: 20%;
    bottom: 480%;
  padding-top:60px;
}

  .contact-top .contact-text h1 {
    font-size: 29px;
    letter-spacing: 0.06em;
    border-bottom: 3px solid #000000;
    padding-bottom: 8px;
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 20%;
    text-align: center;
    width: 20%;
  }
  }
  */
  
.img { 
  display:inline-block;
  height: auto; 
  margin: auto;
  width: 100%;
  vertical-align: baseline;
  max-width: 100vw;

}
  

  
  .img-contact-container {
    background-size: cover;
    display: flex;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    background-position: center;
}
  
  
   .box{
        position: relative;
        display: inline-block;
   }
 
</style>

    

