<div class="page_container_pop_up" >
  <div class="page_content_image">
    <div class="page_content_image--content">
<!--       <div class="content--logo">
        <img src="{{ section.settings.content_logo | img_url: 'master'}}" alt="amika_logo">
      </div> -->
      <div class="content--heading">
        <h1 class="header">interactive exhibit meets retail experience</h1> 
      </div>
      <div class="content--paragraph">
        <p>
          come check out this new type of temporary concept store and dive into the amika universe;
          play and experiment with products, get a personalized hair stylist consultation + much more. 
          limited-edition SWAG, samples + other specials available 
        </p>
      </div>
    </div>
    <div class="page_content_image--img">
<!--       <img src="{{ section.settings.content_img | img_url: 'large'}}" alt="content_img"> -->
    </div>
 <div class="button1">          
 <a href="https://www.eventbrite.com/e/amika-pop-up-experience-tickets-60766865330#tickets" target="_blank" class="buttonPop">
      register </a> 
    </div>
  </div>
  <div class="page_info">
    <div class="category--first">
      <h3 class="category--heading">location:</h3>
      <a href="https://goo.gl/maps/7qNVXSZ8BHNMhUeF9" target="_blank">
        <p class="category--paragraph">430 w. broaway</p>
        <p class="category--paragraph">New York, NY</p></a>
      <p class="category--paragraph">btwn. prince + spring</p>
    </div>
    <div class="page_info-second">
      <h3 class="category--heading">dates + times:</h3>
      <p class="category--paragraph">may 10th - 27th</p>
      <p class="category--paragraph">mon - sat: 11am - 8pm</p>
      <p class="category--paragraph">sun: 12pm - 7pm</p>
    </div>
    <div class="page_info-third">
      <h3 class="category--heading">addtl details:</h3>
      <p class="category--paragraph">get a free travel size</p>
      <p class="category--paragraph">no purchase necessary</p>
      <p></p>
    </div>
  </div>
  
  <div class="social">
     <a href="https://www.instagram.com/amika/" target="_blank">@amika</a>
    <p></p>
    <p>#amikasoho</p>
  </div>
 

  <style>  
 

  @media (min-width: 500px){
 
/*  .body { 
/*      width: 100%;
	  float: center;
	  display: block;
	  position:relative;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
	}
     */
    
   .page_info {
  background-color: #FF7276;
  position: absolute;
  display:flex;
  flex-direction:column;
  flex-wrap:nowrap;
  align-items:center;
  text-align:center;
  justify-content:space-around;
  padding: 10px 5px 10px 5px;
  width:100%;
   }
   
     
      
  .page_container_pop_up {
    position: relative;
    padding-bottom: 30%;
    height: 500%;
    max-width: 100%;
  }
    
    
 .social {
  padding-top:40px;
   margin:20px;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}

}
   

/*  .content--paragraph {
   width:80%;
   text-align:center;
   justify-content:center;
   
 } */
 
   @media (min-width: 1068px){
     
   .content--heading .category--first .page_info-third{
      padding: 10px 5px 10px 5px;
    }
    
 .header {
   margin:10px 5px 10px 5px;
   padding: 20px 0px 20px 0px;
 }
    
 .page_info-second {
   padding:10px;
 }
   
  a.btn.event__btn {
    text-align: center;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
  }
  
.content--paragraph {
  padding: 20px 200px 20px 200px;
  text-align:center;
  justify-content:center;
}
    
.page_info {
  background-color: #FF7276;
  position: absolute;
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:space-around;
  width:100%;
}
    

 .social {
  padding-top:20px;
   margin:200px;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}
    
   
  .page_container_pop_up {
    position: relative;
    padding-bottom: 2%;
    height: 500%;
    max-width: 100%;
  }
   }
    
.buttonPop {
    display: inline-block;
    background: transparent;
    border: 1px solid #000000;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    color: #000000;
    padding: 20px 29px 20px 29px;
    font-size: 19px;
    text-decoration: none;
    text-transform: none;
    font-weight: 500;
    font-family: 'FuturaND';
    font-style: normal;
    text-align: center;
    letter-spacing: normal;
    cursor: pointer;
} 
    
  .button1 {
   padding-bottom:50px;
  }

 
    
</style>
  