/* page */

.carry_block{
  margin-bottom: 0px;
  margin-top: 10px;
  @media(max-width:739px){
    padding:30px 0px 0px;
  }
  /*   p {font-weight: 500;} */
  .img_section{
    display: flex;
    flex-wrap: wrap;
    @media(max-width:739px){
      display:block;
    }
    .carry-mid-two p{
          @media(max-width:1180px) and (min-width:1013px){
          font-size:24px !important;
          }
      @media(max-width:1012px) and (min-width:939px){
          font-size:22px !important;
          }
      @media(max-width:938px) and (min-width:865px){
          font-size:20px !important;
          }
      @media(max-width:864px) and (min-width:740px){
          font-size:16px !important;
          }
        }
    .carry-img-left{
      width: 50%;
      @media(max-width:739px){
        width:100%;
      }
      .carry-mid{
        display: flex;
        flex-wrap: wrap;
        width:100%;
        .carry-mid-one{
          width:100%;
          line-height:0px; 
          img{width:100%;}
        }
        .carry-mid-two{
          width:100%;
          p{
            padding:50px;
            padding:50px 50px;             
            margin-bottom:0px;
            @media(max-width:1219px){
              padding:40px 30px;
              letter-spacing:normal;
            }
            @media(max-width:1060px){
              padding:30px 30px;              
            }
            @media(max-width:979px){
              font-size:16px;
            }
            @media(max-width:739px){
              padding:30px 0px;
              font-size:16px;
            }
            &.mobile-only {display: block; font-weight: 500; @media(min-width: 740px){display: none;}}
            &.desktop-only {
              display: none; 
              @media(min-width: 740px){
                font-weight: 500;
                display: block;
                max-width:100%;
                display: block;
                margin: auto;     
              }             
            }                      
          }
        }
      }
    }
    .carry-img-right{
      width: 50%;
      position: relative;
      @media(max-width:739px){
        width:100%;
      }
      .carry-mid{
        display: flex;
        flex-wrap: wrap;
        width:100%;
        .carry-mid-one{
          width:100%;
          order:1;
          line-height:0px; 

          img{width:100%;}
          @media(max-width:739px){
            order:0;
          }
          @media(min-width: 740px){
            bottom: 0;
            position: absolute;
          }
        }
        .carry-mid-two{
          width:100%;
          p{
            letter-spacing:normal;
            padding:50px;
            padding: 150px 50px;             
            margin-bottom:0px;
            @media(max-width:1219px){
              padding:100px 30px;              
            }
            @media(max-width:979px){
              font-size:16px;
            }
            @media(max-width:739px){
              padding:30px 0px;
              /*               line-height: 21px; */
            }
            &.mobile-only {display: block; font-weight: 500; @media(min-width: 740px){display: none;}}
            &.desktop-only {
              display: none; 
              @media(min-width: 740px){
                font-weight: 500;
                display: block;
                max-width:100%;
                display: block;
                margin: auto;  
                /*                 padding: 100px 100px 100px; */
              }
              @media(min-width: 980px){
                /*                 line-height: 39px; */
              }
            }                                  
          }
        }
      }
    }
    @media(max-width:739px){
      padding:0 30px;
      padding: 0 30px;
    }
  }
  .slideshow_section{
    background:#a6fffd;
    overflow: hidden;
    .text_section{
      width:100%;
      padding:0px 0px 50px;
      text-align:center;
      @media(max-width:739px){
        padding:0px 0px 50px;
      }
    }
  }
  .friend-section{
    background:#ffc0d1;
    /*     line-height:0px; */
    padding:0 30px;
    position:relative;
    display: flex;
    flex-wrap: wrap;
    div{
      @media(max-width:739px){
        position:relative;
      }
      .friend-bg-img{
        margin-top:-50px;
        @media(max-width:1023px){
          object-fit: contain;
          width: 80%;
        }
        @media(max-width:739px){
          width:100%;
        }
      }
      .friend-img{
        position: absolute;
        bottom:0px;
        left:40px;
        @media(max-width:1023px){
          object-fit: contain;
          width: 50%;
        }
        @media(max-width:739px){
          left: 20px;
          bottom:6px;
          width:80%;
        }
      }
    }
    .friend-text-block{
      width: 35%;
      display: block;
      position: absolute;
      right: 10%;
      top: 0;
      height: 100%;
      div{
        width: 100%;
        padding:0 0 20px 20px;
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        transform: translateY(-50%);
        @media(max-width:739px){
          transform: none;
          position:static;
          padding:0;
        }
        h1{
          @media(max-width:979px){
            font-size:30px;
            /*             line-height: 39px; */
          }
        }
        p{
          @media(max-width:979px){
            font-size:16px;
            /*             line-height: 24px; */
          }
        }
      }
      @media(max-width:739px){
        position:static;
        padding:30px 10px;
        padding: 40px 0 34px;
        width:100%;
        text-align:center;
      }
    }
    @media(max-width:1023px){
      display:block;
    }
  }
  .dress-block{
    background:#fcf990;
    display:flex;
    flex-wrap:wrap;
    padding:70px 0px;
    margin-top: -10px;
    position: relative;

    .dress-container {
      @media(min-width:740px){display: table;}
    }
    .dress-left-block{
      width:50%;
      img{
        display:block;
        margin:auto;        
        min-width: 212px;

        &:nth-child(1){
          z-index: 3;
          position: relative;
        }
        &:nth-child(2){
          margin-top: -1.75rem;
          z-index: 1;
          position: relative;
          max-width: 80%;
        }
      }
      @media(max-width:739px){
        width:100%;
      }

      .dress-img{
        @media(min-width:740px){
          background:#ffc1d1;
          height: 92.7%;
          margin-top: 15px;
        }
        @media(max-width:1215px){
          height: 93.5%;     
        }
        @media(max-width:800px){
          height: 94%;     
        }
        img{
          position: relative;
          top: -40px;
          z-index: 2;
        }
      }
      @media(min-width:740px){
        width: 50%;
        display: table-cell;
        vertical-align:top;
      }  


    }
    .dress-right-block{
      width:50%;
      @media(min-width:740px){
        width: 50%;
        display: table-cell;
        vertical-align:top;
      }
      div{
        padding:0 50px;
        padding: 0 20px 0 50px;
        @media(max-width:739px){
          padding:30px 30px 0px;
          padding: 30px 0px 0px;
          text-align:center;
        }
        h1{
          @media(max-width:979px){
            font-size:30px;
            /*             line-height: 39px; */
          }
        }
        p{
          @media(max-width:979px){
            font-size:16px;
            /*             line-height: 24px; */
            padding: 5px 30px;
          }
          @media(min-width: 740px){
            padding: 5px 30px 0 0;
          }
        }
      }
      @media(max-width:739px){
        width:100%;
      }
    }
    @media(max-width:739px){
      padding:50px 0px;
    }
  }
  .carry-form-block{
    padding:75px 250px;
    .carry-form-heading{
      display:none;
    }
    .carry-form-text{
      display:none;
    }
    .title{
      margin-top:30px;
      @media(min-width: 740px){margin-bottom: 52px;}
      @media(min-width:739px){margin-bottom:25px;}
      @media(max-width:740px){margin-top:25px;}
    }
    @media(max-width:1180px){
      padding:0px 125px;
    }
    @media(max-width:739px){
      padding: 25px 30px 0px;
    }
    h1{
      text-align:center;
      margin-bottom: 20px;
      @media(max-width:979px){
        font-size:30px;
      }
      @media(max-width:739px){
      margin-bottom:25px;
      }
    }
    p{
      text-align:center;
      @media(max-width:979px){
        font-size:16px;
        font-size:12px;        
        /*         line-height: 16px; */
      }
    }
    .title{
      @media(max-width:979px){
        font-size:30px;
      }    
    }
  }
}


