<div id="error-page" class="container">
  <div class="title"><i class="fa fa-exclamation"></i><br />We're sorry, but the page you're looking for could not be found. <a href="/">Return to Homepage</a>.</div>
</div>