
<!--   <div class="page page-{{page.handle}} text-center">
      <h1 class="page-title">{{page.title}}</h1>
  <div class="img-container img-top">
<!--   <img src="{{"3_1comingsoon.gif" | asset_url}}" class="img-responsive"/>  
  </div>
  <div class="container">
    <div class="one-half small--one-whole push--large--one-quarter push--medium--one-quarter">
      <font face="futura nd" style="font-family: futura;"><script src="//r2.dotmailer-surveys.com/embed/script/fa4wdc41-003sh1a"></script></font>
      {{ page.content }}
    </div>
  </div>
</div>
-->

    <html lang="en" xmlns:fb="http://ogp.me/ns/fb#">
      <head>
        <meta charset="utf-8">
        <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
        <meta content="width=device-width" name="viewport">
        <title>Reset with amika x Farmacy </title>
        <meta content="Win select amika haircare detox products for a healthy, balanced scalp + select Farmacy farm-to-face skincare products" name="description">
        <meta property="og:title" content="Reset with amika x Farmacy " />
        <meta property="og:type" content="website" />
        <meta property="ga" content="null" />
        <meta property="og:image" content="//innovation-brand-logos.s3.amazonaws.com/campaign-images/dd1af369-5096-4481-8010-03125941dc86/main.png" />
        <meta property="og:description" content="Win select amika haircare detox products for a healthy, balanced scalp + select Farmacy farm-to-face skincare products"/>
      </head>
      <body>
      </body>
      <style>
        html {
          height: 100%;
        }
        body {
          margin: 0px;
          height: 100%;
          overflow: hidden;
        }
        iframe {
          width: 100%;
          height: 100%;
          overflow-x: hidden;
          overflow-y: scroll;
        }
      </style>
      <script>
        window.adroll_adv_id = 'null';
        window.adroll_pix_id = 'null';
        (function () {
            var _onload = function(){
                if (document.readyState && !/loaded|complete/.test(document.readyState)){setTimeout(_onload, 10);return}
                if (!window.__adroll_loaded){__adroll_loaded=true;setTimeout(_onload, 50);return}
                var scr = document.createElement('script');
                var host = (('https:' == document.location.protocol) ? 'https://s.adroll.com' : 'http://a.adroll.com');
                scr.setAttribute('async', 'true');
                scr.type = 'text/javascript';
                scr.src = host + '/j/roundtrip.js';
                ((document.getElementsByTagName('head') || [null])[0] ||
                    document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
            };
            if (window.addEventListener) {window.addEventListener('load', _onload, false);}
            else {window.attachEvent('onload', _onload)}
        }());
        function getParameterByName(name) {
           name = name.replace(/[[]/, "\[").replace(/[]]/, "\]");
           var regex = new RegExp("[\?&]" + name + "=([^&#]*)"),
               results = regex.exec(location.search);
           return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, " "));
        }
        window.onload = function () {
          var iframe = document.createElement('iframe');
          var shareId = getParameterByName('share_id');
          shareId = shareId ? '&share_id=' + shareId : '';
          var promoId = getParameterByName('promo_id');
          if (promoId) {
            iframe.src = '//landing.dojomojo.com/landing/campaign/a0fc5d97-d751-4ed9-8942-b6c62ad5ff38' + window.location.search + shareId;
          } else {
            iframe.src = '//www.dojomojo.com/landing/campaign/a0fc5d97-d751-4ed9-8942-b6c62ad5ff38';
          }
          var body = document.getElementsByTagName('body')[0];
          body.insertBefore(iframe, body.firstChild);
        }
        ;var ua = window.navigator.userAgent;
        var msie = ua.indexOf('MSIE ');
        if (msie > 0) {
          if (parseInt(ua.substring(msie + 5, ua.indexOf('.', msie))) < 10) {
            alert('Looks like this browser is not supported so the elements on this page may not display properly.');
          }
        }
      </script>
    </html>
  



