<div class="page page-{{page.handle}} container text-center">
  <h1 class="page-title">Yes, I want to receive a free amika sample kit!</h1>
  <!--   <img src="https://cdn.shopify.com/s/files/1/2117/1151/files/travelsizedeal_rendering4.jpg?7777467411754918033" class="salon-img">   -->
  <img src="https://cdn.shopify.com/s/files/1/2117/1151/files/not_so_basic_set2.png?95789" class="salon-img">    
  <p class="info">* Offer valid for new customers only. Expires 12/31/2019</p>
  <div class="one-half small--one-whole push--large--one-quarter push--medium--one-quarter">
    {{ page.content }}
  </div>

  <div class="form-container">


    
<div id="wufoo-qkuwp1j0zkhtkq">
Fill out my <a href="https://loveamika.wufoo.com/forms/qkuwp1j0zkhtkq">online form</a>.
</div>
<script type="text/javascript">var qkuwp1j0zkhtkq;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'loveamika',
'formHash':'qkuwp1j0zkhtkq',
'autoResize':true,
'height':'924',
'async':true,
'host':'wufoo.com',
'header':'show',
'ssl':true};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'secure.wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { qkuwp1j0zkhtkq = new WufooForm();qkuwp1j0zkhtkq.initialize(options);qkuwp1j0zkhtkq.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>



  </div>

</div>

<style>
  .template-page-saloncentric_new .form-container {max-width: 900px; margin: 1rem auto;}
  .template-page-saloncentric_new img {max-width: 100%;}
  .template-page-saloncentric_new h1 {
    text-decoration: underline;
    line-height: 1.5;
  }
  .wufoo buttons {
    border: 1px solid #ddd;
    padding: .5rem;
    width: 100%;
    max-width: 285px;
    margin-right: 0;
    cursor: pointer;
  }
  p.info {font-size: 12px;}
  
#wufooFormqkuwp1j0zkhtkq.centerFormProp {
    display: none;
}
</style>




