<div class="page page-{{page.handle}} container">
  <h1 class="page-title text-center">{{page.title}}</h1>
  <p class="text-center">please note: due to COVID-19, some salons and store locations may remain closed. Please contact the salon or store directly for more information on hours and availability.</p>
  
<!--   <div id="storepoint-container" data-map-key="AIzaSyADYHc4VhEGBCIoOtmka7XYZKNlpbBseaE" data-map-id="157d9c0b46a9c8"></div><script>(function(){var a=document.createElement("script");a.type="text/javascript";a.async=!0;a.src="https://cdn.storepoint.co/assets/js/storepoint.min.js";var b=document.getElementsByTagName("script")[0];b.parentNode.insertBefore(a,b);}());</script> -->


  <div id="storepoint-container" data-map-id="157d9c0b46a9c8"></div><script>(function(){var a=document.createElement("script");a.type="text/javascript";a.async=!0;a.src="https://cdn.storepoint.co/api/v1/js/157d9c0b46a9c8.js";var b=document.getElementsByTagName("script")[0];b.parentNode.insertBefore(a,b);}());</script>
</div>