<div class="page page-{{page.handle}} container text-center">
   <div class="img-container img-top">
     <img src="{{"amika_PopUp_PromotionCard-01.png" | asset_url}}" class="img-responsive"/>
<!--   <div class="one-half small--one-whole push--large--one-quarter push--medium--one-quarter"> -->
  {% section 'pop-up' %}
</div>

     