<div class="page page-{{page.handle}} container text-center">
  <h1 class="page-title">{{page.title}}</h1>
  <div class="one-half small--one-whole push--large--one-quarter push--medium--one-quarter">
    {{ page.content }}
  </div>
</div>