<div class="page page-{{page.handle}} text-center">
<div class="container">
    <h1 class="page-title">{{page.title}}</h1>
  <div class="img-container img-top">
    
  </div>
   <div class="img-container img-top">
     <a href="https://loveamika.com/collections/signature"><img src="https://cdn.shopify.com/s/files/1/2117/1151/files/SignatureCollectionModel.png?103148" class="img-responsive"/></a>
     
     <a href="https://loveamika.com/collections/repair"><img src="https://cdn.shopify.com/s/files/1/2117/1151/files/RepairCollectionModel.png?103148" class="img-responsive"/></a>
     
      <a href="https://loveamika.com/collections/volume"><img src="https://cdn.shopify.com/s/files/1/2117/1151/files/VolumeCollectionModel.png?103148" class="img-responsive"/></a>
     
     <a href="https://loveamika.com/collections/color"><img src="https://cdn.shopify.com/s/files/1/2117/1151/files/ColorCollectionModel.png?103148" class="img-responsive"/></a>
     
          <a href="https://loveamika.com/collections/smooth"><img src="https://cdn.shopify.com/s/files/1/2117/1151/files/SmoothCollectionModel.png?103157" class="img-responsive"/></a>
     
     <a href="https://loveamika.com/collections/detox"><img src="https://cdn.shopify.com/s/files/1/2117/1151/files/DetoxCollectionModel.png?103148" class="img-responsive"/></a>
     
<a href="https://loveamika.com/collections/curl"><img src="https://cdn.shopify.com/s/files/1/2117/1151/files/CurlCollectionModel.png?103148" class="img-responsive"/></a>
     <a href="https://loveamika.com/collections/blonde"><img src="https://cdn.shopify.com/s/files/1/2117/1151/files/BlondeCollectionModel.png?103148" class="img-responsive"/></a>
     <a href="https://loveamika.com/collections/texture"><img src="https://cdn.shopify.com/s/files/1/2117/1151/files/TextureCollectionModel.png?103148" class="img-responsive"/></a>
    
     
     <a href="https://loveamika.com/collections/hold"><img src="https://cdn.shopify.com/s/files/1/2117/1151/files/HoldCollectionModel.png?103148" class="img-responsive"/></a>
  </div>
</div>
