<div class="page page-{{page.handle}} container text-center">
  <h1 class="page-title">Yes, I want to try amika in my salon!</h1>
  <!--   <img src="https://cdn.shopify.com/s/files/1/2117/1151/files/travelsizedeal_rendering4.jpg?7777467411754918033" class="salon-img">   -->
  <img src="https://cdn.shopify.com/s/files/1/2117/1151/files/NewSalonOffer.png?105065" class="salon-img">    
  <p class="info">* Offer valid for new professional salon/stylist customers only. While supplies last</p>
  <div class="one-half small--one-whole push--large--one-quarter push--medium--one-quarter">
    {{ page.content }}
  </div>

  <div class="form-container">

    
<div id="wufoo-r169lzip03yprz3">
Fill out my <a href="https://loveamika.wufoo.com/forms/r169lzip03yprz3">online form</a>.
</div>
<script type="text/javascript">var r169lzip03yprz3;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'loveamika',
'formHash':'r169lzip03yprz3',
'autoResize':true,
'height':'1227',
'async':true,
'host':'wufoo.com',
'header':'show',
'ssl':true};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'secure.wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { r169lzip03yprz3 = new WufooForm();r169lzip03yprz3.initialize(options);r169lzip03yprz3.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>




  </div>

</div>

<style>
  .template-page-saloncentric_new .form-container {max-width: 900px; margin: 1rem auto;}
  .template-page-saloncentric_new img {max-width: 100%;}
  .template-page-saloncentric_new h1 {
    text-decoration: underline;
    line-height: 1.5;
  }
  .wufoo buttons {
    border: 1px solid #ddd;
    padding: .5rem;
    width: 100%;
    max-width: 285px;
    margin-right: 0;
    cursor: pointer;
  }
  

 .wufoo .info h2 {
    display: none;
  
}
  
  p.info {font-size: 12px;}
</style>



