<!-- Klaviyo Signup Form Snippet -->
<script async type="text/javascript" src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=RTevZm"></script>
<!-- Klaviyo Signup Form Snippet End -->
<div class="page page-{{page.handle}} container text-center">
  <h1 class="page-title">{{page.title}}</h1>
  <div class="one-half small--one-whole push--large--one-quarter push--medium--one-quarter">
    {{ page.content }}
    <div class="klaviyo-form-LwfyPG"></div>
  </div>
</div>