<div id="searchresults" class="container">  

  

  {% if search.performed %}
    <h1 class="title">Search Results</h1>
    {% assign terms = search.terms | strip | split: "OR" %}
    {% assign term = terms.first | remove:"title:" | remove:'&quot;' | strip %}	
    {% if search.results == empty %}
      <p class="note">Your search for "{{ term | strip | escape}}" did not yield any results.</p>
      <div class="search-form">
        <form action="/search" method="get" class="search-form">
          <div class="clearfix">
            <input type="hidden" name="type" value="product" />
            <input type="text" class="input-text animation" name="q" value="{{ term | strip | escape}}" accesskey="4" autocomplete="off" placeholder="Search">
            <button type="submit" >
              <svg class="not_onhover__search" width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M13.4738 7.23675C13.4738 10.6813 10.6815 13.4735 7.237 13.4735C3.79225 13.4735 1 10.6813 1 7.23675C1 3.79225 3.79225 1 7.237 1C10.6815 1 13.4738 3.79225 13.4738 7.23675Z" stroke="black" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M11.7628 4.21851L7.1543 7.17951" stroke="black" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M9.73822 2.58936L6.32422 6.65061" stroke="black" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M12.4038 6.73706L7.29102 8.15381" stroke="black" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.86246 4.69432C10.5395 5.39807 10.9025 6.32332 10.8837 7.30007C10.8667 8.25282 10.4875 9.14232 9.81496 9.81482L9.76421 9.86557C9.06046 10.5423 8.13521 10.9053 7.15871 10.8868C6.18196 10.8681 5.27096 10.4703 4.59396 9.76657C3.91621 9.06357 3.55346 8.13832 3.57196 7.16157C3.59046 6.18507 3.98621 5.27457 4.69146 4.59607C6.14471 3.19782 8.46396 3.24232 9.86246 4.69432Z" fill="black"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.86246 4.69432C10.5395 5.39807 10.9025 6.32332 10.8837 7.30007C10.8667 8.25282 10.4875 9.14232 9.81496 9.81482L9.76421 9.86557C9.06046 10.5423 8.13521 10.9053 7.15871 10.8868C6.18196 10.8681 5.27096 10.4703 4.59396 9.76657C3.91621 9.06357 3.55346 8.13832 3.57196 7.16157C3.59046 6.18507 3.98621 5.27457 4.69146 4.59607C6.14471 3.19782 8.46396 3.24232 9.86246 4.69432Z" stroke="black" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.86246 4.69432C10.5395 5.39807 10.9025 6.32332 10.8837 7.30007C10.8667 8.25282 10.4875 9.14232 9.81496 9.81482L9.76421 9.86557C9.06046 10.5423 8.13521 10.9053 7.15871 10.8868C6.18196 10.8681 5.27096 10.4703 4.59396 9.76657C3.91621 9.06357 3.55346 8.13832 3.57196 7.16157C3.59046 6.18507 3.98621 5.27457 4.69146 4.59607C6.14471 3.19782 8.46396 3.24232 9.86246 4.69432Z" stroke="black" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M6.84538 4.82974C7.40938 5.39374 7.40938 6.30824 6.84538 6.87224C6.28138 7.43624 5.36688 7.43624 4.80288 6.87224C4.23888 6.30824 4.23888 5.39374 4.80288 4.82974C5.36688 4.26574 6.28138 4.26574 6.84538 4.82974Z" fill="#FEFAF5"/>
                <path d="M11.6475 11.647L16.0577 16.057" stroke="black" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>

              <svg class="onhover__search" width="25" height="17" viewBox="0 0 25 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M21.0529 7.23675C21.0529 10.6813 18.2606 13.4735 14.8161 13.4735C11.3714 13.4735 8.5791 10.6813 8.5791 7.23675C8.5791 3.79225 11.3714 1 14.8161 1C18.2606 1 21.0529 3.79225 21.0529 7.23675Z" stroke="black" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M1.46484 4.86816L4.81084 7.01791" stroke="black" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M2.93457 3.6853L5.41307 6.6338" stroke="black" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M1 6.69653L4.712 7.72528" stroke="black" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M6.68738 5.21418C7.16888 5.71468 7.42688 6.37268 7.41363 7.06743C7.40163 7.74518 7.13163 8.37793 6.65363 8.85593L6.61763 8.89193C6.11713 9.37343 5.45888 9.63168 4.76438 9.61843C4.06963 9.60518 3.42163 9.32218 2.94013 8.82168C2.45813 8.32168 2.20013 7.66368 2.21338 6.96918C2.22663 6.27443 2.50813 5.62693 3.00963 5.14443C4.04313 4.14993 5.69263 4.18168 6.68738 5.21418Z" fill="black"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M6.68738 5.21418C7.16888 5.71468 7.42688 6.37268 7.41363 7.06743C7.40163 7.74518 7.13163 8.37793 6.65363 8.85593L6.61763 8.89193C6.11713 9.37343 5.45888 9.63168 4.76438 9.61843C4.06963 9.60518 3.42163 9.32218 2.94013 8.82168C2.45813 8.32168 2.20013 7.66368 2.21338 6.96918C2.22663 6.27443 2.50813 5.62693 3.00963 5.14443C4.04313 4.14993 5.69263 4.18168 6.68738 5.21418Z" stroke="black" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M4.58974 5.31176C4.99924 5.72126 4.99924 6.38526 4.58974 6.79476C4.18024 7.20426 3.51649 7.20426 3.10674 6.79476C2.69749 6.38526 2.69749 5.72126 3.10674 5.31176C3.51649 4.90226 4.18024 4.90226 4.58974 5.31176Z" fill="#FEFAF5"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M6.68738 5.21418C7.16888 5.71468 7.42688 6.37268 7.41363 7.06743C7.40163 7.74518 7.13163 8.37793 6.65363 8.85593L6.61763 8.89193C6.11713 9.37343 5.45888 9.63168 4.76438 9.61843C4.06963 9.60518 3.42163 9.32218 2.94013 8.82168C2.45813 8.32168 2.20013 7.66368 2.21338 6.96918C2.22663 6.27443 2.50813 5.62693 3.00963 5.14443C4.04313 4.14993 5.69263 4.18168 6.68738 5.21418Z" stroke="black" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M19.3429 4.21851L14.7344 7.17951" stroke="black" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M17.3183 2.58936L13.9043 6.65061" stroke="black" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M19.9829 6.73706L14.8701 8.15381" stroke="black" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M17.4416 4.69432C18.1186 5.39807 18.4816 6.32332 18.4628 7.30007C18.4458 8.25282 18.0666 9.14232 17.3941 9.81482L17.3433 9.86557C16.6396 10.5423 15.7143 10.9053 14.7378 10.8868C13.7611 10.8681 12.8501 10.4703 12.1731 9.76657C11.4953 9.06357 11.1326 8.13832 11.1511 7.16157C11.1696 6.18507 11.5653 5.27457 12.2706 4.59607C13.7238 3.19782 16.0431 3.24232 17.4416 4.69432Z" fill="black"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M17.4416 4.69432C18.1186 5.39807 18.4816 6.32332 18.4628 7.30007C18.4458 8.25282 18.0666 9.14232 17.3941 9.81482L17.3433 9.86557C16.6396 10.5423 15.7143 10.9053 14.7378 10.8868C13.7611 10.8681 12.8501 10.4703 12.1731 9.76657C11.4953 9.06357 11.1326 8.13832 11.1511 7.16157C11.1696 6.18507 11.5653 5.27457 12.2706 4.59607C13.7238 3.19782 16.0431 3.24232 17.4416 4.69432Z" stroke="black" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M17.4416 4.69432C18.1186 5.39807 18.4816 6.32332 18.4628 7.30007C18.4458 8.25282 18.0666 9.14232 17.3941 9.81482L17.3433 9.86557C16.6396 10.5423 15.7143 10.9053 14.7378 10.8868C13.7611 10.8681 12.8501 10.4703 12.1731 9.76657C11.4953 9.06357 11.1326 8.13832 11.1511 7.16157C11.1696 6.18507 11.5653 5.27457 12.2706 4.59607C13.7238 3.19782 16.0431 3.24232 17.4416 4.69432Z" stroke="black" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M14.4255 4.82974C14.9895 5.39374 14.9895 6.30824 14.4255 6.87224C13.8615 7.43624 12.947 7.43624 12.383 6.87224C11.819 6.30824 11.819 5.39374 12.383 4.82974C12.947 4.26574 13.8615 4.26574 14.4255 4.82974Z" fill="#FEFAF5"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M14.4494 3.32569C15.4289 4.30494 15.4289 5.89319 14.4494 6.87269C13.4699 7.85194 11.8819 7.85194 10.9024 6.87269C9.92316 5.89319 9.92316 4.30494 10.9024 3.32569C11.8819 2.34619 13.4699 2.34619 14.4494 3.32569Z" fill="#FEFAF5"/>
                <path d="M19.2266 11.647L23.6368 16.057" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </button>
          </div>
        </form>
      </div>
    {% else %}
    <div class="search-form">
        <form action="/search" method="get" class="search-form">
          <div class="clearfix">
            <input type="hidden" name="type" value="product" />
            <input type="text" class="input-text animation" name="q" value="{{ term | strip | escape}}" accesskey="4" autocomplete="off" placeholder="Search">
            <button type="submit" >
              <svg class="not_onhover__search" width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M13.4738 7.23675C13.4738 10.6813 10.6815 13.4735 7.237 13.4735C3.79225 13.4735 1 10.6813 1 7.23675C1 3.79225 3.79225 1 7.237 1C10.6815 1 13.4738 3.79225 13.4738 7.23675Z" stroke="black" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M11.7628 4.21851L7.1543 7.17951" stroke="black" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M9.73822 2.58936L6.32422 6.65061" stroke="black" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M12.4038 6.73706L7.29102 8.15381" stroke="black" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.86246 4.69432C10.5395 5.39807 10.9025 6.32332 10.8837 7.30007C10.8667 8.25282 10.4875 9.14232 9.81496 9.81482L9.76421 9.86557C9.06046 10.5423 8.13521 10.9053 7.15871 10.8868C6.18196 10.8681 5.27096 10.4703 4.59396 9.76657C3.91621 9.06357 3.55346 8.13832 3.57196 7.16157C3.59046 6.18507 3.98621 5.27457 4.69146 4.59607C6.14471 3.19782 8.46396 3.24232 9.86246 4.69432Z" fill="black"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.86246 4.69432C10.5395 5.39807 10.9025 6.32332 10.8837 7.30007C10.8667 8.25282 10.4875 9.14232 9.81496 9.81482L9.76421 9.86557C9.06046 10.5423 8.13521 10.9053 7.15871 10.8868C6.18196 10.8681 5.27096 10.4703 4.59396 9.76657C3.91621 9.06357 3.55346 8.13832 3.57196 7.16157C3.59046 6.18507 3.98621 5.27457 4.69146 4.59607C6.14471 3.19782 8.46396 3.24232 9.86246 4.69432Z" stroke="black" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.86246 4.69432C10.5395 5.39807 10.9025 6.32332 10.8837 7.30007C10.8667 8.25282 10.4875 9.14232 9.81496 9.81482L9.76421 9.86557C9.06046 10.5423 8.13521 10.9053 7.15871 10.8868C6.18196 10.8681 5.27096 10.4703 4.59396 9.76657C3.91621 9.06357 3.55346 8.13832 3.57196 7.16157C3.59046 6.18507 3.98621 5.27457 4.69146 4.59607C6.14471 3.19782 8.46396 3.24232 9.86246 4.69432Z" stroke="black" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M6.84538 4.82974C7.40938 5.39374 7.40938 6.30824 6.84538 6.87224C6.28138 7.43624 5.36688 7.43624 4.80288 6.87224C4.23888 6.30824 4.23888 5.39374 4.80288 4.82974C5.36688 4.26574 6.28138 4.26574 6.84538 4.82974Z" fill="#FEFAF5"/>
                <path d="M11.6475 11.647L16.0577 16.057" stroke="black" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>

              <svg class="onhover__search" width="25" height="17" viewBox="0 0 25 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M21.0529 7.23675C21.0529 10.6813 18.2606 13.4735 14.8161 13.4735C11.3714 13.4735 8.5791 10.6813 8.5791 7.23675C8.5791 3.79225 11.3714 1 14.8161 1C18.2606 1 21.0529 3.79225 21.0529 7.23675Z" stroke="black" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M1.46484 4.86816L4.81084 7.01791" stroke="black" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M2.93457 3.6853L5.41307 6.6338" stroke="black" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M1 6.69653L4.712 7.72528" stroke="black" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M6.68738 5.21418C7.16888 5.71468 7.42688 6.37268 7.41363 7.06743C7.40163 7.74518 7.13163 8.37793 6.65363 8.85593L6.61763 8.89193C6.11713 9.37343 5.45888 9.63168 4.76438 9.61843C4.06963 9.60518 3.42163 9.32218 2.94013 8.82168C2.45813 8.32168 2.20013 7.66368 2.21338 6.96918C2.22663 6.27443 2.50813 5.62693 3.00963 5.14443C4.04313 4.14993 5.69263 4.18168 6.68738 5.21418Z" fill="black"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M6.68738 5.21418C7.16888 5.71468 7.42688 6.37268 7.41363 7.06743C7.40163 7.74518 7.13163 8.37793 6.65363 8.85593L6.61763 8.89193C6.11713 9.37343 5.45888 9.63168 4.76438 9.61843C4.06963 9.60518 3.42163 9.32218 2.94013 8.82168C2.45813 8.32168 2.20013 7.66368 2.21338 6.96918C2.22663 6.27443 2.50813 5.62693 3.00963 5.14443C4.04313 4.14993 5.69263 4.18168 6.68738 5.21418Z" stroke="black" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M4.58974 5.31176C4.99924 5.72126 4.99924 6.38526 4.58974 6.79476C4.18024 7.20426 3.51649 7.20426 3.10674 6.79476C2.69749 6.38526 2.69749 5.72126 3.10674 5.31176C3.51649 4.90226 4.18024 4.90226 4.58974 5.31176Z" fill="#FEFAF5"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M6.68738 5.21418C7.16888 5.71468 7.42688 6.37268 7.41363 7.06743C7.40163 7.74518 7.13163 8.37793 6.65363 8.85593L6.61763 8.89193C6.11713 9.37343 5.45888 9.63168 4.76438 9.61843C4.06963 9.60518 3.42163 9.32218 2.94013 8.82168C2.45813 8.32168 2.20013 7.66368 2.21338 6.96918C2.22663 6.27443 2.50813 5.62693 3.00963 5.14443C4.04313 4.14993 5.69263 4.18168 6.68738 5.21418Z" stroke="black" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M19.3429 4.21851L14.7344 7.17951" stroke="black" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M17.3183 2.58936L13.9043 6.65061" stroke="black" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M19.9829 6.73706L14.8701 8.15381" stroke="black" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M17.4416 4.69432C18.1186 5.39807 18.4816 6.32332 18.4628 7.30007C18.4458 8.25282 18.0666 9.14232 17.3941 9.81482L17.3433 9.86557C16.6396 10.5423 15.7143 10.9053 14.7378 10.8868C13.7611 10.8681 12.8501 10.4703 12.1731 9.76657C11.4953 9.06357 11.1326 8.13832 11.1511 7.16157C11.1696 6.18507 11.5653 5.27457 12.2706 4.59607C13.7238 3.19782 16.0431 3.24232 17.4416 4.69432Z" fill="black"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M17.4416 4.69432C18.1186 5.39807 18.4816 6.32332 18.4628 7.30007C18.4458 8.25282 18.0666 9.14232 17.3941 9.81482L17.3433 9.86557C16.6396 10.5423 15.7143 10.9053 14.7378 10.8868C13.7611 10.8681 12.8501 10.4703 12.1731 9.76657C11.4953 9.06357 11.1326 8.13832 11.1511 7.16157C11.1696 6.18507 11.5653 5.27457 12.2706 4.59607C13.7238 3.19782 16.0431 3.24232 17.4416 4.69432Z" stroke="black" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M17.4416 4.69432C18.1186 5.39807 18.4816 6.32332 18.4628 7.30007C18.4458 8.25282 18.0666 9.14232 17.3941 9.81482L17.3433 9.86557C16.6396 10.5423 15.7143 10.9053 14.7378 10.8868C13.7611 10.8681 12.8501 10.4703 12.1731 9.76657C11.4953 9.06357 11.1326 8.13832 11.1511 7.16157C11.1696 6.18507 11.5653 5.27457 12.2706 4.59607C13.7238 3.19782 16.0431 3.24232 17.4416 4.69432Z" stroke="black" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M14.4255 4.82974C14.9895 5.39374 14.9895 6.30824 14.4255 6.87224C13.8615 7.43624 12.947 7.43624 12.383 6.87224C11.819 6.30824 11.819 5.39374 12.383 4.82974C12.947 4.26574 13.8615 4.26574 14.4255 4.82974Z" fill="#FEFAF5"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M14.4494 3.32569C15.4289 4.30494 15.4289 5.89319 14.4494 6.87269C13.4699 7.85194 11.8819 7.85194 10.9024 6.87269C9.92316 5.89319 9.92316 4.30494 10.9024 3.32569C11.8819 2.34619 13.4699 2.34619 14.4494 3.32569Z" fill="#FEFAF5"/>
                <path d="M19.2266 11.647L23.6368 16.057" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </button>
          </div>
        </form>
      </div>
      <div id="collection" class="clearfix">
        <div class="grid-uniform">
          {% paginate search.results by 50 %}
          {% for item in search.results %}
            {% unless item.tags contains 'no-search' %}
            {% assign product = item %}
            {% if product.price > 0 %}
            {% assign product__title = product.title | downcase %}
              {% unless product__title contains 'test' or product.tags contains 'flash sale' %}
                {% include 'product_item', currentProduct: product, fromSearch: true, term: term, quickview: settings.allow_quick_view %}
              {% endunless %}
            {% endif %}
            {% endunless %}
          {% endfor %}
          {% include 'pagination' %}
          {% endpaginate %}
        </div>
      </div>
    {% endif %}
  {% else %}
    <h1 class="title">Search Here</h1>
    <div class="search-form">
        <form action="/search" method="get" class="search-form">
          <div class="clearfix">
            <input type="hidden" name="type" value="product" />
            <input type="text" class="input-text animation" name="q" value="" accesskey="4" autocomplete="off" placeholder="Search">
            <button type="submit" >
              <svg class="not_onhover__search" width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M13.4738 7.23675C13.4738 10.6813 10.6815 13.4735 7.237 13.4735C3.79225 13.4735 1 10.6813 1 7.23675C1 3.79225 3.79225 1 7.237 1C10.6815 1 13.4738 3.79225 13.4738 7.23675Z" stroke="black" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M11.7628 4.21851L7.1543 7.17951" stroke="black" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M9.73822 2.58936L6.32422 6.65061" stroke="black" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M12.4038 6.73706L7.29102 8.15381" stroke="black" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.86246 4.69432C10.5395 5.39807 10.9025 6.32332 10.8837 7.30007C10.8667 8.25282 10.4875 9.14232 9.81496 9.81482L9.76421 9.86557C9.06046 10.5423 8.13521 10.9053 7.15871 10.8868C6.18196 10.8681 5.27096 10.4703 4.59396 9.76657C3.91621 9.06357 3.55346 8.13832 3.57196 7.16157C3.59046 6.18507 3.98621 5.27457 4.69146 4.59607C6.14471 3.19782 8.46396 3.24232 9.86246 4.69432Z" fill="black"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.86246 4.69432C10.5395 5.39807 10.9025 6.32332 10.8837 7.30007C10.8667 8.25282 10.4875 9.14232 9.81496 9.81482L9.76421 9.86557C9.06046 10.5423 8.13521 10.9053 7.15871 10.8868C6.18196 10.8681 5.27096 10.4703 4.59396 9.76657C3.91621 9.06357 3.55346 8.13832 3.57196 7.16157C3.59046 6.18507 3.98621 5.27457 4.69146 4.59607C6.14471 3.19782 8.46396 3.24232 9.86246 4.69432Z" stroke="black" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.86246 4.69432C10.5395 5.39807 10.9025 6.32332 10.8837 7.30007C10.8667 8.25282 10.4875 9.14232 9.81496 9.81482L9.76421 9.86557C9.06046 10.5423 8.13521 10.9053 7.15871 10.8868C6.18196 10.8681 5.27096 10.4703 4.59396 9.76657C3.91621 9.06357 3.55346 8.13832 3.57196 7.16157C3.59046 6.18507 3.98621 5.27457 4.69146 4.59607C6.14471 3.19782 8.46396 3.24232 9.86246 4.69432Z" stroke="black" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M6.84538 4.82974C7.40938 5.39374 7.40938 6.30824 6.84538 6.87224C6.28138 7.43624 5.36688 7.43624 4.80288 6.87224C4.23888 6.30824 4.23888 5.39374 4.80288 4.82974C5.36688 4.26574 6.28138 4.26574 6.84538 4.82974Z" fill="#FEFAF5"/>
                <path d="M11.6475 11.647L16.0577 16.057" stroke="black" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>

              <svg class="onhover__search" width="25" height="17" viewBox="0 0 25 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M21.0529 7.23675C21.0529 10.6813 18.2606 13.4735 14.8161 13.4735C11.3714 13.4735 8.5791 10.6813 8.5791 7.23675C8.5791 3.79225 11.3714 1 14.8161 1C18.2606 1 21.0529 3.79225 21.0529 7.23675Z" stroke="black" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M1.46484 4.86816L4.81084 7.01791" stroke="black" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M2.93457 3.6853L5.41307 6.6338" stroke="black" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M1 6.69653L4.712 7.72528" stroke="black" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M6.68738 5.21418C7.16888 5.71468 7.42688 6.37268 7.41363 7.06743C7.40163 7.74518 7.13163 8.37793 6.65363 8.85593L6.61763 8.89193C6.11713 9.37343 5.45888 9.63168 4.76438 9.61843C4.06963 9.60518 3.42163 9.32218 2.94013 8.82168C2.45813 8.32168 2.20013 7.66368 2.21338 6.96918C2.22663 6.27443 2.50813 5.62693 3.00963 5.14443C4.04313 4.14993 5.69263 4.18168 6.68738 5.21418Z" fill="black"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M6.68738 5.21418C7.16888 5.71468 7.42688 6.37268 7.41363 7.06743C7.40163 7.74518 7.13163 8.37793 6.65363 8.85593L6.61763 8.89193C6.11713 9.37343 5.45888 9.63168 4.76438 9.61843C4.06963 9.60518 3.42163 9.32218 2.94013 8.82168C2.45813 8.32168 2.20013 7.66368 2.21338 6.96918C2.22663 6.27443 2.50813 5.62693 3.00963 5.14443C4.04313 4.14993 5.69263 4.18168 6.68738 5.21418Z" stroke="black" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M4.58974 5.31176C4.99924 5.72126 4.99924 6.38526 4.58974 6.79476C4.18024 7.20426 3.51649 7.20426 3.10674 6.79476C2.69749 6.38526 2.69749 5.72126 3.10674 5.31176C3.51649 4.90226 4.18024 4.90226 4.58974 5.31176Z" fill="#FEFAF5"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M6.68738 5.21418C7.16888 5.71468 7.42688 6.37268 7.41363 7.06743C7.40163 7.74518 7.13163 8.37793 6.65363 8.85593L6.61763 8.89193C6.11713 9.37343 5.45888 9.63168 4.76438 9.61843C4.06963 9.60518 3.42163 9.32218 2.94013 8.82168C2.45813 8.32168 2.20013 7.66368 2.21338 6.96918C2.22663 6.27443 2.50813 5.62693 3.00963 5.14443C4.04313 4.14993 5.69263 4.18168 6.68738 5.21418Z" stroke="black" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M19.3429 4.21851L14.7344 7.17951" stroke="black" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M17.3183 2.58936L13.9043 6.65061" stroke="black" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M19.9829 6.73706L14.8701 8.15381" stroke="black" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M17.4416 4.69432C18.1186 5.39807 18.4816 6.32332 18.4628 7.30007C18.4458 8.25282 18.0666 9.14232 17.3941 9.81482L17.3433 9.86557C16.6396 10.5423 15.7143 10.9053 14.7378 10.8868C13.7611 10.8681 12.8501 10.4703 12.1731 9.76657C11.4953 9.06357 11.1326 8.13832 11.1511 7.16157C11.1696 6.18507 11.5653 5.27457 12.2706 4.59607C13.7238 3.19782 16.0431 3.24232 17.4416 4.69432Z" fill="black"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M17.4416 4.69432C18.1186 5.39807 18.4816 6.32332 18.4628 7.30007C18.4458 8.25282 18.0666 9.14232 17.3941 9.81482L17.3433 9.86557C16.6396 10.5423 15.7143 10.9053 14.7378 10.8868C13.7611 10.8681 12.8501 10.4703 12.1731 9.76657C11.4953 9.06357 11.1326 8.13832 11.1511 7.16157C11.1696 6.18507 11.5653 5.27457 12.2706 4.59607C13.7238 3.19782 16.0431 3.24232 17.4416 4.69432Z" stroke="black" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M17.4416 4.69432C18.1186 5.39807 18.4816 6.32332 18.4628 7.30007C18.4458 8.25282 18.0666 9.14232 17.3941 9.81482L17.3433 9.86557C16.6396 10.5423 15.7143 10.9053 14.7378 10.8868C13.7611 10.8681 12.8501 10.4703 12.1731 9.76657C11.4953 9.06357 11.1326 8.13832 11.1511 7.16157C11.1696 6.18507 11.5653 5.27457 12.2706 4.59607C13.7238 3.19782 16.0431 3.24232 17.4416 4.69432Z" stroke="black" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M14.4255 4.82974C14.9895 5.39374 14.9895 6.30824 14.4255 6.87224C13.8615 7.43624 12.947 7.43624 12.383 6.87224C11.819 6.30824 11.819 5.39374 12.383 4.82974C12.947 4.26574 13.8615 4.26574 14.4255 4.82974Z" fill="#FEFAF5"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M14.4494 3.32569C15.4289 4.30494 15.4289 5.89319 14.4494 6.87269C13.4699 7.85194 11.8819 7.85194 10.9024 6.87269C9.92316 5.89319 9.92316 4.30494 10.9024 3.32569C11.8819 2.34619 13.4699 2.34619 14.4494 3.32569Z" fill="#FEFAF5"/>
                <path d="M19.2266 11.647L23.6368 16.057" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </button>
          </div>
        </form>
      </div>
  {% endif %}  

</div>



<script type="text/javascript" >

  $(document).on('click', '.offerLiquid' , function(){
    let prodsel = $(this).hasClass('offerLiquid1');
    setTimeout(function(){
      //open dialog
      //-find dialog. There's some cloud thing

      hideSideCart();
      modal = new tingle.modal({
        closeMethods: ['overlay', 'button', 'escape'],
        closeLabel: "",
        cssClass: ['promotion-popup']
      });
      modal.setContent(
        '<div id="promotion-pop-up-success">\
        <div id="promotion-pop-up-success-wrapper">\
        <div class="wrap">\
        <h1>Do you need a new set of pumps for your liter?</h1>\
        <p><button id=pumpok>Yes, I need pumps</button></p>\
        <p><button id=pumpno>No, I\'ll reuse mine <i class="fa fa-recycle" aria-hidden="true"></i></button></p>\
          </div>\
          </div>\
          </div>');
      modal.open();
      $('#pumpok').on('click', function(){
        modal.close();
        //add id:193236500498 to cart
        $.ajax({
          type: 'POST',
          url: '/cart/add.js',
          data: {id:( prodsel ? '1771444273170':'1771444273170'),quantity:1},
          dataType: 'json',

          error: addToCartFail,
          success: addToCartSuccess
        });
      });
      $('#pumpno').on('click', function(){
        modal.close();
      });
    }, 750);
  });

</script>
